[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
